@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;1,400&family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Cabin&family=Montserrat:wght@300;400;600&family=Poppins:wght@300&family=Raleway:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bitter:ital,wght@0,300;1,400&family=Bricolage+Grotesque&family=Cabin&family=Inria+Serif:ital@1&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Quicksand&family=Raleway:ital,wght@0,200;1,200&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    
}

nav{
    position: fixed;
    top: -32px;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #fff;
}

.logo{
    padding: 22px 20px;
    height: 80px;
    float: right;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    flex-direction: column;
}

.logo ul, .logo li{
    margin: 0;
    padding: 0;
}

.logo li, .submenu{
    margin: 0 ;
    display: block;
}

.logo a{
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    display: block;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 50px;
    margin-left: -17px;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(137, 93, 43, 0.2);
    border-radius: 6px;
    color: #ffffff;
    line-height: 46px;
}

nav li{
    display: inline-block;
}

.submenu{
    left: 440px;
    opacity: 0;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    left: auto;
}

.submenu li{
    float: none;
    width: 100%;
}

.submenu a:hover{
    background: #d6a791;
}

.submenu a{
    background-color: #7c7364;
}

.texto{
    position: fixed;
    text-align: center;
    left: 700px;
    width: 50%;
    height: 127vh;
    bottom: -550px;
}

.vapor{
    position: fixed;
    display: flex;
    z-index: 1;
    padding: 0 20px;
    top: 250px;
    left: 205px;
}

.vapor span{
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate{
    0%
    {
        transform: translateY(0) scaleX(1);
        opacity: 0 ;
    }
    15%
    {
        opacity: 1;
    }
    50%
    {
        transform: translateY(-150px) scaleX(5);
    }
    95%
    {
        opacity: 0;
    }
    100%
    {
        transform: translateY(-300px) scaleX(10);
    }
}

section{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}